<h1 class="text-4xl mb-4 font-bold">
  Posts
</h1>
<div class="text-slate-400 text-sm">
  <% if !session[:current_username].nil? %>
    Currently logged in as
    <span class="font-bold hover:text-slate-500">
      <%= link_to session[:current_username], login_path %>
  </span>
    —
  <span class="hover:text-slate-500">
    <%= link_to "Log out", logout_path %>
  </span>
  <% else %>
    You are not currently logged in.
    <span class="font-bold hover:text-slate-600">
      <%= link_to "Log in", login_path %>
    </span>
  <% end %>
</div>
<ul>
  <% @articles.each do |article| %>
    <% unless article.archived? %>
      <li class="my-2 rounded-md border-2 py-2 px-4">
        <div class="text-2xl my-2 font-bold text-red-700 hover:text-red-800">
          <%= link_to article.title, article %>
        </div>
        <div class="text-slate-500 text-sm">
          Author:
          <% if !article.user.nil? && !article.user.username.nil? %>
            <%= article.user.username %>
          <% else %>
            Anonymous user
          <% end %>
        </div>
        <div class="p-2">
          <%= article.body %>
        </div>
        <div class="text-sm text-slate-400">
          Last updated:
          <%= article.updated_at %>
        </div>
        <div class="text-sm text-slate-400">
          <%= @comment_count %>
          comments
        </div>
      </li>
    <% end %>
  <% end %>
</ul>
<%= link_to "New Article", new_article_path, class: "inline-block bg-red-700 hover:bg-red-800 text-white rounded-md p-2 mt-4" %>